.react-calendar__tile {
	padding: 0.3em 0.5em !important;
}
.react-calendar {
	width: 100%;
	max-width: 300px;
}
.form-control.correct {
	border-color: green !important;
}
.form-control.incorrect {
	border-color: red !important;
}

.form-control[type="checkbox"] {
	width: 22px;
	height: 22px;
	display: inline-block;
}

.vehicle_worker_option, .vehicle_worker_option * {
	transition: all 150ms linear;
}

.vehicle_worker_option {

	padding: 0px;
	margin-bottom: 10px;
}

.vehicle_worker_option img {
	height: 132px;
	margin: auto;
	display: block;
	margin-top: 13px;
	margin-bottom: 15px;
}

.vehicle_worker_option .innerWrapper {
	border: 1px solid gray;
	border-radius: 6px;
	padding: 15px 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.packing_material {
	text-align: center;
	margin-bottom:20px;
	transition: all 200ms linear;
}

.packing_material img {
	height: 120px;
	margin: auto;
}

.packing_material .wrapper {
	padding-left: 25px;
padding-right: 25px;
border: 1px solid black;
padding-bottom: 10px;
padding-top: 10px;
}

.packing_material input {
	width: 80%;
	text-align: center;
}



.packing_material {
  animation: animation 1500ms linear both;
}


@keyframes animation {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1); }
  4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -41.971, 0, 1); }
  8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10.549, 0, 1); }
  12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.843, 0, 1); }
  16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.336, 0, 1); }
  27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.784, 0, 1); }
  38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.104, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
