.react-calendar__tile {
	padding: 0.3em 0.5em !important;
}
.react-calendar {
	width: 100%;
	max-width: 300px;
}
.form-control.correct {
	border-color: green !important;
}
.form-control.incorrect {
	border-color: red !important;
}

.form-control[type="checkbox"] {
	width: 22px;
	height: 22px;
	display: inline-block;
}

.vehicle_worker_option, .vehicle_worker_option * {
	transition: all 150ms linear;
}

.vehicle_worker_option .innerWrapper {
	cursor: hand; cursor: pointer;
}

.vehicle_worker_option {
	text-align: center;
	padding: 0px;
	margin-bottom: 10px;
	position: relative;
}

.vehicle_worker_option .selected {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('http://agamoving.cz/img/tick_vehicle.png');
	width: 38px;
	height: 40px;
	display: none;
	position: absolute;
	top: -17px;
	right: 5px;
	z-index: 500;
}

.vehicle_worker_option.enabled .selected {
	display: block;
}

.vehicle_worker_option.enabled .innerWrapper {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.vehicle_worker_option img {
	margin: auto;
	display: block;
	margin-top: 13px;
	margin-bottom: 15px;
}

.vehicle_worker_option .zoom-image, .packing_material .zoom-image {
	position: absolute;
	top: -10px;
	right: 0px;
	background-color: #43b100;
	color: white;
	padding: 1px 6px 4px;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	cursor: hand; cursor: pointer;
}

.vehicle_worker_option .innerWrapper {
	border: 1px solid gray;
	border-radius: 6px;
	padding: 15px 0px;
	margin-left: -5px;
	margin-right: -5px;
}

.packing_material {
	text-align: center;
	margin-bottom:20px;
	transition: all 200ms linear;
}

.packing_material img {
	height: 120px;
	margin: auto;
}

.packing_material .wrapper {
	padding-left: 25px;
padding-right: 25px;
border: 1px solid black;
padding-bottom: 10px;
padding-top: 15px;
}

.packing_material input {
	width: 80%;
	text-align: center;
}



.packing_material {
  animation: animation 1500ms linear both;
}


@keyframes animation {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1); }
  4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -41.971, 0, 1); }
  8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10.549, 0, 1); }
  12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.843, 0, 1); }
  16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.336, 0, 1); }
  27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.784, 0, 1); }
  38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.104, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

.modal-wrapper {
	position: fixed;
	background-color: #80808052;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: 0px;
	max-width: 100%;
	z-index: 99999999999;
	justify-content: center;
	align-content: center;
	align-items: center;
	cursor: auto;
}

.custom-modal {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding: 10px;
	border: 1px solid;
	border-radius: 8px;
	background-color: white;
	position: relative;
	max-width: 80%;
	max-height: 90%;
}

.custom-modal .close {
	position: absolute;
	right: -13px;
	top: -14px;
	background: gray;
	border: 1px solid black;
	border-radius: 12px;
	padding: 4px 8px 6px;
	cursor: hand;
	cursor: pointer;
	opacity: 0.8;
	font-size: 17px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.custom-modal .modal-body {
	overflow: auto;
}
